#footer {
    clear: both;
    background-color: #222;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    text-align: center;
    color: #FFF;
    font-weight: lighter;

    padding: 3%;
}

#cr {
    clear: both;
    font-weight: 100;
    font-size: 90%;
}
