.input-area {
    margin: 1%;
}

.stock-name {
    margin-left: 1%;
    font-size: 150%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
}

.title-sub-name {
    font-size: 100%;
    font-weight: 300;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    margin-right: 1%;
}

.whole-table {
    margin: 0.5%;
    border-collapse: collapse;
    text-align: center;
    width: 60%;
}

.whole-table tr {
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
}

.whole-table th {
    color: #AAA;
    font-size: 80%;
    font-weight: 400;
    padding: 0.5% 0 0.5% 0;
}

.whole-table td {
    color: #AAA;
    font-size: 80%;
    padding: 0.5% 0;
}

.whole-table a {
    color: #000;
}

.whole-table a:hover {
    color: #0080ff;
}

.page-content-fix {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    width: 13%;
    padding-left: 5%;
    margin: 6% 0;
    float: left;
    border-right: 1px solid #AAA;
}

.page-content-fix li {
    list-style: none;
    cursor: pointer;
    margin: 2% 0;
}

.page-content-fix li a:hover, .page-content-fix li:hover {
    color: #0080ff;
}

.page-content-fix li a {
    color: #000;
}

.item-title {
    color: #AAA;
    font-size: 80%;
    font-weight: 400;
    padding: 0.5% 0 0.5% 0;
}

.userinfo-div {
    margin: 2%;
}

.item-title a {
    color: #0080ff;
}
