#title {
    background-image: url("../img/background.png");
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, "PingFang SC", sans-serif;
    padding: 8% 50%;
    background-size: 100% 100%;
    color: #FFF;
}

#main-title {
    margin: -10% 0 0 5%;
    font-family: "Chalkduster", sans-serif;
    font-size: 60px;
    color: #FFF;
    font-style: italic;
}

#sub-title {
    font-size: 40%;
    font-style: normal;
    margin-left: -1.5%;
}