<!DOCTYPE html>
<html style="width: 100%">

<head>
    <meta charset="UTF-8">
    <title>Tickets - venue</title>
    <link rel="stylesheet" href="css/origin.css">
    <link rel="stylesheet" href="css/top-bar.css">
    <link rel="stylesheet" href="css/main-body.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/function.css">
    <link rel="stylesheet" href="css/page-main-body.css">
    <link rel="stylesheet" href="css/strategy.css">

    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <script src="js/util/jquery-3.2.1.min.js"></script>
    <script src="js/util/scrollReveal.js"></script>
    <script src="js/angular/angular.js"></script>
</head>

<body>
<header>

    <div id="title" onselectstart="return false;">

    </div>

    <div id="title-div">
        <h1 id="main-title" data-scroll-reveal="enter top over 1s">Tickets <span id="sub-title">场馆版</span></h1>
    </div>

    <div class="page-content-fix">
        <ul>
            <b>场馆信息</b>
            <li>
                <a href="#venue-info">场馆基本信息</a>
            </li>
            <li>
                <a href="#venue-seat">场馆座位信息</a>
            </li>
            <li>
                <a href="#venue-password">修改密码</a>
            </li>
            <li>
                <a href="#venue-finance">财务信息统计</a>
            </li>
            <li><b>
                <a href="venue-plan.html">发布计划</a>
            </b></li>
            <li><b>
                <a href="venue-check.html">活动检票</a>
            </b></li>
        </ul>
    </div>

    <div style="float: right; width: 80%; margin: 6% 0" ng-app="venueapp" ng-controller="VenueController">
        <form method="post">

            <div id="venue-info">
                <div class="stock-seatName" style="display: inline;">场馆基本信息</div>
                <div class="title-sub-name" style="display: inline;">&nbsp;|&nbsp;Information</div>
                <div class="userinfo-div">

                    <p class="item-title">
                        场馆识别码
                    </p>
                    <p id="id"></p>

                    <p class="item-title">
                        场馆名称
                    </p>
                    <input type="text" name="username" class="form-username form-control input-box"
                           id="info-venuename" ng-model="inputEmail">
                    <p class="item-title">
                        场馆地点
                    </p>
                    <input type="text" name="location" class="form-location form-control input-box"
                           id="info-location" ng-model="inputLocation">
                    <div>
                        <h6 style="color:red" id="info-tip"></h6>
                    </div>
                </div>
            </div>

            <div id="venue-seat">
                <div class="stock-seatName" style="display: inline;">场馆座位信息</div>
                <div class="title-sub-name" style="display: inline;">&nbsp;|&nbsp;Seats</div>

                <div class="userinfo-div">
                    <p class="item-title">
                        填写场馆的座位类型。在座位名称一栏，可以填写座位的名称，例如一等座、二等座、三等座；
                        <br>A区座位、B区座位、C区座位；内场座、外场座、看台座等等。座位数量一栏，填写数字。
                    </p>
                </div>

                <div class="userinfo-div" id="seat-div1">

                    <p class="item-title">
                        座位名称
                    </p>
                    <input type="text" name="seat-seatName" class="form-seatname form-control input-box"
                           id="inputSeatName1" ng-model="inputSeatName1">
                    <p class="item-title">
                        座位数量
                    </p>
                    <input type="text" name="seat-seatNum" class="form-seatnum form-control input-box"
                           id="inputSeatNum1" ng-model="inputSeatNum1">
                </div>
                <div class="userinfo-div">
                    <h6 style="color:red" id="info-seat-tip"></h6>
                </div>
            </div>

            <div class="userinfo-div">
                <button class="button-green" onclick="addInputBox()">添加新座位类型</button>
                <button class="button-green" id="venue-confirm-button" onclick="venueInfoUpdate()">确认修改信息
                </button>
                <p class="item-title">
                    点击修改信息后，您所新填写的场馆信息会经过Tickets系统审批，这大概需要花费1小时的时间。
                    <br>在这段时间里，您之前发布的活动不受影响，但是不能登录并发布新的活动。
                </p>
            </div>

            <div id="venue-password">
                <div class="stock-seatName" style="display: inline;">修改密码</div>
                <div class="title-sub-name" style="display: inline;">&nbsp;|&nbsp;Password</div>
                <div class="userinfo-div">
                    <p class="item-title">
                        原密码
                    </p>
                    <input type="password" seatName="password" class="form-password form-control input-box"
                           id="venue-old-password" ng-model="venueOldPassword">
                    <p class="item-title">
                        新密码
                    </p>
                    <input type="password" seatName="password" class="form-password form-control input-box"
                           id="venue-new-password" ng-model="venueNewPassword">
                    <p class="item-title">
                        确认密码
                    </p>
                    <input type="password" seatName="password2" class="form-password form-control input-box"
                           id="venue-new-password2" ng-model="venueNewPassword2" onblur="passwordIsSame()">
                    <button class="button-green" ng-click="venueChangePassword()">确认修改</button>

                    <h6 style="color:red" id="venue-password-tip"></h6>
                </div>
            </div>
        </form>

        <div id="venue-finance">
            <div class="stock-seatName" style="display: inline;">财务信息统计</div>
            <div class="title-sub-name" style="display: inline;">&nbsp;|&nbsp;Financial Statistics</div>

            <div class="userinfo-div">
                <p class="item-title">
                    盈利总计
                </p>
                <p id="account"></p>
            </div>
        </div>

    </div>

</header>

</body>

<script src="js/util/scrollReveal.js"></script>
<script src="js/venue/venueInformation.js"></script>
<script src="js/venue/seat.js"></script>
<script src="js/venue/logState.js"></script>

<script>
    (function () {
        window.scrollReveal = new scrollReveal({
            reset: false,
            move: '50px'
        });
    })();

</script>

<script>
    $(document).ready(loadVenueInfo);
    $(document).ready(loadSeats());
</script>

</html>
